body {
    position: relative;
}

.box {
    height: 100%;
}

.input, .textarea {
    width: 50vw !important;
    max-width: 80% !important;
    min-width: 0 !important;
    display: inline-block !important;
}

.section {
    position: relative;
}

.bottompage {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.notification {
    width: 50%;
    text-align: left;
    display: inline-block;
    position: relative;
    font-size: 11px;
    margin-bottom: 30px;
}

#picklelogo {
    background-color: grey;
    height: 50vh;
    width: auto;
    max-width: 350px;
}

#backtotop {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: green;
    border-radius: 100%;
}

@media only screen and (max-width: 600px){

    .box {
        height: auto;
    }

    #hide {
        display: none;
    }

}

@media only screen and (max-height: 780px){

    .bottompage {
        position: relative;
        bottom: 0;
        margin-top: 45px;
    }

    .section {
        height: auto !important;
    }

}
